.header{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}

.notfound{
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
