.header{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}

.notfound{
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 200px;
  width: 300px
}

body {
  background-image: url('https://as1.ftcdn.net/v2/jpg/04/70/07/96/1000_F_470079638_7oV9VCxmTg5K6YWYJGihNnEosVk17Z7I.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  opacity: 80%;

}